<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:사용자명="http://www.w3.org/1999/xhtml">
<th:block th:fragment="headerFragment">
    <head>
        <title>Board List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/css/content.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <style>
            /* 알림 팝업의 기본 스타일 */
            .notification {
                 width:250px;
                 overflow-y: auto;
                height: 400px; /* 원하는 높이로 설정 */
                overflow-y: auto; /* 세로 스크롤 가능하게 설정 */
                border: 1px solid #ccc; /* 테두리 설정 */
                background-color: #fff; /* 배경색 설정 */
                position: absolute; /* 위치를 절대값으로 설정 */
            }
            .notification-popup {
                background-color: white;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                max-width: 400px;
                text-align: center;
                display: none;
                position: absolute;
                z-index: 1000;
                top:5%;
            }
            .notification-popup h2 {
                margin-top: 0;
            }

        .notification h2 {
            margin-top: 0;
        }
        .notification ul {
            list-style-type: none;
            padding: 0;
        }
        .notification li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .notification li:hover {
            background-color: #f9f9f9;
        }
         .notification .notification-nametext {
           font-weight: bold;
           font-size : 15px;
        }
        .notification .notification-text {
            flex: 1; /* 텍스트가 넘칠 경우 자동으로 줄바꿈 되도록 설정 */
        }
       .notification .notification-time {
            color: #999;
            font-size: 12px;
            margin-top: 5px; /* 시간과 텍스트 사이의 간격 추가 */
        }

        </style>
    </head>
    <body>
    <!-- 자유/익명 게시판 -->
        <div class="header">
            <div class="header_menu">
                <ul >
                    <li>
                        <a href="/"> 자유게시판</a>
                    </li>
                </ul>
            </div>
        <!-- 로그인/로그아웃 -->
            <div class="header_auth">
                <a sec:authorize="isAnonymous" href="/login">로그인</a>
                <div sec:authorize="isAuthenticated()" style="display:flex;">
                    <button class="emoji-button" id="notificationBtn" style="border:none; background-color:#FFFFFF;">
                        🔔
                    </button>
                    <!-- 새로운 알림 메세지 표시 -->
                    <div id="notificationIndicator" style="
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            background-color: red;
                            color: white;
                            border-radius: 50%;
                            display: none;
                            justify-content: center;
                            align-items: center;
                            font-size: 14px;
                      ">!</div>
                    <!-- Spring Security 으로 직접 로그인한 경우 -->
                    <div th:if="${#authentication != null}">
                        <a href="javascript:;">
                        <span class="bold" id="usernick" th:if="${#authentication.principal.usernick != null}"
                              th:text="${#authentication.principal.usernick}"></span>
                        </a>
                        <div id="my_page" class="list-group" style="position:absolute; display:none;">
                            <ul>
                                <a href="/mypage?type=article_list" class="list-group-item list-group-item-action">
                                   마이페이지
                                </a>
                                <a href="/note" class="list-group-item list-group-item-action">
                                    쪽지
                                </a>
                            </ul>
                        </div>
                        <span>님 안녕하세요</span>
                    </div>

                    <div id="notificationPopup" class="notification-popup">
                        <h2 style="width:250px; padding:10px; border: 1px solid;">알림</h2>
                        <div class="notification" id="notification">
                            <ul id="notificationList">
                                <!-- 여기에 API에서 가져온 알림 데이터가 동적으로 추가될 예정 -->
                            </ul>
                            <div id="noFeedList" style="
                                        margin-top: 200px;
                                        display:none;
                                    ">
                                <span>받은 알림이 없습니다.</span>
                            </div>

                        </div>
                    </div>
                </div>
                <a sec:authorize="isAnonymous" href="/join">회원가입</a>
                <a sec:authorize="isAuthenticated()" href="/logout">로그아웃</a>

            </div>
        </div>
    </body>
    <script>
        let pageNumber = 0;
        let pageLast = true;


        $(document).ready(function() {
            if(document.getElementById("usernick") != null) {
                document.getElementById("usernick").addEventListener('click', function(event) {
                    document.getElementById("my_page").style.display = 'block';
                });
            }
        });


        function addNotificaionList(pageNumber) {

                       $.ajax({
                            type:'GET',
                            contentType:'application/json',
                            url:'/notifications/list?page=' + pageNumber,
                            success:function(data){
                               const notificationList = document.getElementById('notificationList');
                               const noFeedList = document.getElementById('noFeedList');

                               if(data.count == 0) {
                                   noFeedList.style.display = 'block';
                                   pageNumber = 0;
                               }
                               else {
                                   pageNumber = data.result.pageable.pageNumber;
                                   pageLast = data.result.last;
                                   noFeedList.style.display = 'none';
                                   data.result.content.forEach(notification => {

                                       const li = document.createElement('li');
                                       li.classList.add('notification-item');

                                       const a = document.createElement('a');
                                       li.appendChild(a);
                                       a.href= '/article/detail/' + notification.articleId


                                       // 메시지 텍스트 추가
                                       const nickNameText = document.createElement('p');
                                       nickNameText.classList.add('notification-nametext');
                                       nickNameText.textContent = notification.writerNickname;
                                       a.appendChild(nickNameText);


                                       // 메시지 텍스트 추가
                                       const articleTtiletext = document.createElement('p');
                                       articleTtiletext.classList.add('notification-text');
                                       articleTtiletext.textContent = "님이 " + "글 제목 : " + '"' + notification.articleTitle + '"'  + " 에 답변을 달았습니다.";
                                       a.appendChild(articleTtiletext);


                                       // 시간 추가
                                       const time = document.createElement('p');
                                       time.classList.add('notification-time');
                                       time.textContent = notification.commentCreatetime;
                                       a.appendChild(time);

                                       // 리스트에 추가
                                       notificationList.appendChild(li);
                                   });
                               }
                            },
                            error: function(e) {
                                console.log(e);
                            }
                   });

           }



       const notificationButton = document.getElementById('notificationBtn');
       const popup = document.getElementById('notificationPopup');
       const closeButton = document.getElementById('closePopup');
       if(notificationButton != null) {
            const notificationElement = document.getElementById('notification'); // 스크롤 가능한 요소의 ID를 가져옴
             notificationElement.addEventListener('scroll', function() {
                     setTimeout(function() {
                        const scrollTop = notificationElement.scrollTop;
                        const scrollHeight = notificationElement.scrollHeight;
                        const clientHeight = notificationElement.clientHeight;

                        if (scrollTop + clientHeight >= scrollHeight) {
                          if(pageLast == false)
                          {
                             console.log('스크롤이 끝에 도달했습니다.');
                             addNotificaionList(pageNumber+1)
                           }
                        }
             });     }, 2000); // 200ms 내에 다시 호출되지 않도록 디바운스 설정


        notificationButton.addEventListener('click', function() {
          const notificationList = document.getElementById('notificationList');
          notificationList.innerHTML = '';
          popup.style.display = 'block';
          notificationIndicator.style.display = 'none';
          addNotificaionList(pageNumber)
        });


         document.addEventListener('click', function(event) {
               if (!popup.contains(event.target) && event.target !== notificationButton) {
                   const notificationList = document.getElementById('notificationList');
                   notificationList.innerHTML = '';
                   popup.style.display = 'none';
               }

               if(!document.getElementById("my_page").contains(event.target) && event.target !== document.getElementById("usernick") ) {
                document.getElementById("my_page").style.display = 'none';
               }
           });




         // 구독 함수
         function subscribeToNotifications() {

           // 새로운 EventSource 인스턴스를 생성하고 구독 시작
              eventSource = new EventSource('/notifications');
              const notificationIndicator = document.getElementById('notificationIndicator');
               // 메시지 이벤트 리스너 추가
              eventSource.addEventListener('notification', function(event) {
               // 새로운 알림을 수신하면 느낌표를 표시
               if(event.data != "연결완료")
               {
                notificationIndicator.style.display = 'flex';
                console.log('새 알림:', event.data);
                }
              });

              // 오류 이벤트 리스너 추가
              eventSource.addEventListener('error', function(event) {
                console.error('EventSource 에러:', event);
                // 에러가 발생하면 eventSource를 닫고 null로 초기화
                eventSource.close();
                eventSource = null;
              });

         }


         // 페이지 로드 시 자동 구독 (원하는 경우)
         window.onload = function() {
          // 세션 상태 확인 여부
               let ssesionStatus = 0
               $.ajax({
                        type:'get',
                        contentType:'application/json',
                        url:'/api/session',
                        success:function(data){
                           ssesionStatus = data;
                           if(ssesionStatus == 1)
                               {
                                subscribeToNotifications();
                               }
                        },
                        error: function(e) {
                            console.log(e);
                        }
               });

         };
   }
    </script>
</th:block>
</html>
