.article {
margin:0 auto;
width:800px;
padding: 20px;
border:1px solid #e3e3e3;
border-radius:10px;
}

.article_write_button {
display:flex;
justify-content:right;
margin:0 auto;
margin-bottom:5px;
width:800px;
}

.article_form_button {
float:right;
position:relative;
margin-bottom:5px;
}

.button{
border-radius:10px;
color:#FFFFFF;
}

.article_form_width {
width:500px;
}

.blue {
border:3px solid #0054FF;
background-color: #0054FF;
}
.red  {
border:3px solid #FF0000;
background-color: #FF0000;
}

.write_form {
margin: 0 auto;
width:500px;
}


.write_form form input{
display:block;
}

.paging_list {
display:flex;
justify-content:space-between;
margin: 0 auto;
width:500px;

}