/* 즐겨찾기 off 버튼 */
.bookmark {
        display: inline-block; /* span을 블록 요소처럼 표시하거나, */
        margin-top:5px;
        width: 25px;
        height: 25px;
        background-image: url('../images/bookmark_off.png');
        background-size: cover; /* 배경 이미지 크기 조절 */
        background-position: center; /* 배경 이미지 위치 조절 */
}
/* 즐겨찾기 On 버튼 */
.bookmark.active {
        background-image: url('../images/bookmark_on.png');
}

/* 메인 홈페이지 글 */
.article {
margin:0 auto;
width:800px;
padding: 20px;
border:1px solid #e3e3e3;
border-radius:10px;
margin-bottom:15px;
}
/* 글 상세 페이지 이미지 */
.article_images {
margin:0 auto;
width:800px;
padding: 20px;
border:1px solid #e3e3e3;
border-radius:10px;
margin-bottom:30px;
}
/* 메인 홈페이지 작성하기 버튼 */
.article_button {
display:flex;
justify-content:right;
margin:0 auto;
margin-bottom:5px;
width:800px;
}
/* 요소 사이즈 full 설정 */
.size_full {
width:100%
}
/* 파란색 버튼 */
.button_blue {
border-radius:10px;
color:#FFFFFF;
height:40px;
margin:15px 5px 5px 5px;
border:3px solid #0054FF;
background-color: #0054FF;
}
/* 빨간색 버튼 */
.button_red  {
border-radius:10px;
margin:15px 5px 5px 5px;
color:#FFFFFF;
height:40px;
border:3px solid #FF0000;
background-color: #FF0000;
}
/* 검은색 버튼 */
.button_black  {
border-radius:10px;
color:#FFFFFF;
margin:15px 5px 5px 5px;
height:40px;
border:3px solid #000000;
background-color: #000000;
}

/* 회원가입 Id 중복체크 버튼 */
.idcheck_btn {
position:relative;
border-radius:10px;
color:#FFFFFF;
margin:15px 5px 5px 5px;
height:40px;
border:3px solid #000000;
background-color: #000000;
top:5px;
width:100px
}
/* 버튼 flex */
.button_flex {
display:flex;
}
/* 작성,수정,로그인,회원가입 form */
.form_middle {
margin: 100px auto;
width:500px;
}
/* 검색 페이지 리스트 */
.search_paging_list {
display:flex;
justify-content:flex-end;
margin: 0 auto;
margin-Top:20px;
width:500px;
}
/* 페이지 리스트 */
.paging_list {
display:flex;
justify-content:center;
margin: 0 auto;
margin-top:10px;
width:500px;
}
/* 글 작성/수정 시간,글쓴이,조회수 정보 */
.article_addtext{
font-size:12px;
}
/* 상세페이지 내용 div */
.detail_content_area{
white-space: pre-line;
}
/* 회원가입 ID check div */
.join_idcheck{
display:flex;
position:relative;
top:10px;
}
.join_nickcheck{
display:flex;
position:relative;
}
/* 수정페이지 내용 div */
.update_content_area{
width:500px;
height:500px;
}
/* 팝업 on style */
.modal.on {
    display: block;
}
/* 팝업 배경 */
.modal {
	display: none; /*평소에는 보이지 않도록*/
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}
/* 팝업 */
.modal .modal_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
}
/* 팝업 닫기 버튼 */
.modal .modal_popup .close_btn {
    width:110px;
    padding: 10px 20px;
    background-color: rgb(178, 204, 255);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
/* 상세페이지 댓글 수 div */
.comment_count {
    display: flex;
    justify-content: end;
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
}
/* 상세페이지 댓글 div */
.article_comments {
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 10px;
}
/* 상세페이지 대댓글 div */
.reply_comments {
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
}
/* 상세페이지 댓글 작성 div */
.comment_write{
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin-top:10px;
}
/* 상세페이지 댓글 입력창,등록 버튼 div */
.comment_write div {
display: flex;
}
/* 상세페이지 댓글 입력창 */
.comment_write textarea {
  width: 100%;
}
/* 상세페이지 댓글 등록 버튼 */
.comment_write button{
    width: 80px;
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
}
/* 상세페이지 댓글 삭제 버튼 */
.comment_delete button{
    border: 1px solid;
    border-radius: 10px;
    color: #FF0000;
}
/* 상세페이지 댓글 수정 버튼 */
.comment_update{
    border: 1px solid;
    border-radius: 10px;
    color: #0054FF;
}
/* 상세페이지 답글 달기 버튼 */
.reply_button{
    border: 1px solid;
    border-radius: 10px;
    color: #000000;
    margin:10px 0;
}
/* 로그인 페이지 소셜 로그인 div */
.social_login {
    display: flex;
    justify-content: center;
}
/* 로그인 페이지 소셜 로그인 링크 아이콘 */
.social_login a {
margin: 0 15px;
}

.article_header {
margin:0 auto;
width:800px;
display:flex;
}
/* Home 페이지 검색 창 div */
.search_header {
margin:0 auto;
width:800px;
display:flex;
}
/* 글 작성 버튼 */
.article_button {
    margin-left: auto;
}

/* 태그 리스트 div */
.detail_tag-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 auto;
   width: 800px;
}

/* 태그 리스트 ul */
#tag-list {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
/* 태그 요소 li */
#tag-list li {
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 2px;
  display: flex;
  align-items: center;
}

/* 태그 텍스트 */
#tag-list li .tag-text {
  margin-right: 5px;
}
/* 태그 삭제버튼 */
#tag-list li .remove-tag {
  cursor: pointer;
  color: #a00;
}
/* 태그 입력창 */
#tag-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  min-width: 50px;
  width: 480px;
}
/* 알림 팝업 메인 */
.notification {
                 width:250px;
                 overflow-y: auto;
                height: 400px; /* 원하는 높이로 설정 */
                overflow-y: auto; /* 세로 스크롤 가능하게 설정 */
                border: 1px solid #ccc; /* 테두리 설정 */
                background-color: #fff; /* 배경색 설정 */
                position: absolute; /* 위치를 절대값으로 설정 */
}
/* 알림 팝업 상단바 */
.notification-popup {
                background-color: white;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                max-width: 400px;
                text-align: center;
                display: none;
                position: absolute;
                z-index: 1000;
                top:5%;
}
/* 알림 팝업 상단바 제목 */
.notification-popup h2 {
                margin-top: 0;
}
/* 알림 리스트 ul */
.notification ul {
            list-style-type: none;
            padding: 0;
}
/* 알림 요소 li */
.notification li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
}
/* 알림 요소 li hover*/
.notification li:hover {
            background-color: #f9f9f9;
}
/* 알림 메시지 보낸자 */
.notification .notification-nametext {
           font-weight: bold;
           font-size : 15px;
}
/* 알림 메세지 내용 */
.notification .notification-text {
            flex: 1; /* 텍스트가 넘칠 경우 자동으로 줄바꿈 되도록 설정 */
}
/* 알림 메세지 작성시간 */
.notification .notification-time {
            color: #999;
            font-size: 12px;
            margin-top: 5px; /* 시간과 텍스트 사이의 간격 추가 */
}

