<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div style="
        display:flex;
        margin-bottom:5px;
        margin: 0 auto;
        width:800px">
        <!-- 글 작성 버튼 -->
        <div class="article_button">
            <a href="/article/write" style="margin-top:15px; margin-right:10px ">
                <img src="https://cdn-icons-png.flaticon.com/128/5948/5948954.png" loading="lazy" alt="펜 " title="펜 " width="37" height="37">
                </img>
            </a>
        </div>
            <select id="sort-select" class="form-select"  style="width:125px; height:40px; margin-top:15px" aria-label="Default select example">
                <option value="latest">오래된 순</option>
                <option selected value="newest">최신 순</option>
                <option value="mostrecent">조회 순</option>
            </select>
    </div>
    <!-- 작성된 글 리스트가 없을 시 문구 표시 -->
    <div th:if="${endPage == 0}" class="article">
        <h2>첫 글의 주인공이 되어 보세요!</h2></br>
        <h5>글을 작성해보세요!</h5>
    </div>
    <!-- 글 정보 -->
    <div th:if="${pageable.hasResult}" th:each="article : ${article}" class="article">
            <!-- 글 제목 링크 -->
        <a th:href="@{/article/detail/{id}(id=${article.id})}">
            <h2 class="overflow-text bold" th:text="${article.title}"></h2></br>
        </a>
        <!-- 글 내용 -->
        <h5 class="overflow-text" th:text="${article.content}"></h5>
        <!-- 글 작성자 -->
        <span class="article_addtext" th:text="${article.member.usernick}"></span>
        <span> · </span>
        <!-- 글 작성시간 -->
        <span class="article_addtext" th:text="${@timeUtil.calculateTimeAgo(article.createdDate)}"></span>
        <span> · </span>
        <!-- 글 조회수 -->
        <span class="article_addtext" th:text="${article.viewcount}"></span></br>
        <div th:if="${article.tagConents.size() != 0}"  class="detail_tag-container">
            <ul id="tag-list" >
                    <li th:each="tag : ${article.tagConents}">
                        <a th:href="'/articles/search?tagsearch=true&query=' + ${tag}">
                            <span th:text="'#' + ${tag}" class="tag-text"></span>
                        </a>
                    </li>
            </ul>
        </div>
    </div>
    <div class="search_header">
        <input class="form-control" style="margin-left:200px" type="text" placeholder="검색어를 입력하세요" id="searchInput" />
        <select id="search-select" class="form-select"  style="width:130px; height:40px; margin-top:19px; margin-right:150px" aria-label="Default select example">
            <option selected value="titleAndcontent">제목+내용</option>
            <option value="title">제목</option>
            <option value="content">내용</option>
        </select>
    </div>
    <!-- 글 페이지 리스트 -->
    <div th:if="${endPage != 0}" class="paging_list">
        <!-- 이전 링크 있을시 활성화 없을시 비 활성화 -->
        <a class="page_previous" th:classappend=" ${!pageable.previous} ? 'disabled' " th:href="${!pageable.first} ? @{/(sort=${sort},page=${pageable.number})}"> 이전 </a>
        <!-- 시작페이지 -> 끝 페이지 까지 페이지 출력 -->
        <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
		    <!-- 현재페이지는 링크 없이 숫자만 -->
            <span th:if="${page == pageable.number + 1}" th:text="${page}"></span>
            <!-- 현재페이지 링크 X, 다른 페이지번호에는 링크를 보여준다 -->
            <span th:unless="${page == pageable.number + 1}">
              <a th:href="@{/(sort=${sort},page=${page})}" th:text="${page}"></a>
            </span>
        </span>
        <!-- 다음 링크 있을시 활성화 없을시 비 활성화 -->
        <a class="page_next" th:classappend=" ${!pageable.next} ? 'disabled' "  th:href="${pageable.last} ? '#' : @{/(sort=${sort},page=${pageable.number+2})}"> 다음 </a>
    </div>

    <script th:inline="javascript">



        $(document).ready(function() {

            var nowsort = [[${sort}]];
            console.log(nowsort);
            var nowpage = [[${pageable.number}]] + 1
            if(nowsort != "latest" && nowsort != "newest" && nowsort != "mostrecent")
            {
              $('#sort-select').val("newest");
            }
            else {
                 $('#sort-select').val(nowsort);
            }
            $('#sort-select').change(function() {
                var sort = $('#sort-select').val();
               window.location.href = '?sort=' + sort + '&page=' + nowpage;

            });

            // 엔터 키를 눌렀을 때 검색 실행
            $('#searchInput').keypress(function(event) {
                if (event.keyCode === 13) { // 엔터 키 코드: 13
                    event.preventDefault(); // 기본 엔터 키 동작 방지
                    searchArticles(); // 검색 함수 호출
                }
            });

            function searchArticles() {
                var query = $('#searchInput').val();
                var sort = $('#sort-select').val();
                var search = $('#search-select').val();
                if (query) {
                    window.location.href = '/articles/search?query=' + encodeURIComponent(query) + '&sort=' + sort + '&search=' + search;
                }
            }
 });
    </script>
</th:block>
</html>
