<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <!-- 회원가입 form -->
    <div class="form_middle">
        <h2>회원가입 </h2></br>
        <!-- ID 입력창 / ID 중복체크 버튼 -->
        <div class="join_idcheck">
            <!-- ID 입력창 -->
            <input type="text" id="email" name="email" class="form-control" placeholder="아이디" autofocus=""/>
            <!-- ID 중복체크 버튼 -->
            <button class="idcheck_btn" onclick="idcheck()">ID 체크</button>
        </div>
        <span style="color:#0054FF" id="emailError"></span>
        <!-- 비밀번호 입력창 -->
        <input type="password" id="userpw" name="userpw" class="form-control" placeholder="비밀번호" />
        <span style="color:#0054FF" id="userpwError"></span>
        <!-- 닉네임 입력창 -->
        <div class="join_nickcheck">
            <input type="text" id="usernick" name="usernick" class="form-control" placeholder="닉네임" />
            <button class="nickcheck_btn" onclick="nickcheck()">닉네임 체크</button>
        </div>
        <span style="color:#0054FF" id="usernickError"></span>
        <!-- 회원가입 버튼 -->
        <div class="button_flex">
            <!-- 회원가입 버튼 -->
            <button style="display :inline-block;" class="button_blue size_full" onclick="joinBtn()">회원가입</button>
        </div>
    </div>

    <script th:inline="javascript">
        var idcheckdstate = "false";
        var nickcheckdstate = "false";
        // ID 중복체크
        function idcheck() {
                var checkdata = {
                      email : $('#email').val()
                }
                $.ajax({
                         type:'post',
                         contentType:'application/json',
                         data:JSON.stringify(checkdata),
                         url:'/api/userid/check',
                         success:function(data){
                             alert(data);
                             idcheckdstate = "true";
                         },
                         error: function(e) {
                             alert(e.responseText);
                             idcheckdstate = "false";
                         }
                });
        };

        function nickcheck() {
                var checkdata = {
                      Usernick : $('#usernick').val()
                }
                $.ajax({
                         type:'post',
                         contentType:'application/json',
                         data:JSON.stringify(checkdata),
                         url:'/api/usernick/check',
                         success:function(data){
                             alert(data);
                             nickcheckdstate = "true";
                         },
                         error: function(e) {
                             alert(e.responseText);
                             nickcheckdstate = "false";
                         }
                });
        };
        // 회원가입
        function joinBtn() {
                 if(idcheckdstate == "false")
                 {
                 alert('ID 체크를 해주세요.');
                  return;
                 }
                  if(nickcheckdstate == "false")
                 {
                 alert('닉네임 체크를 해주세요.');
                  return;
                 }
                var joindata = {
                  email : $('#email').val(),
                  userpw : $('#userpw').val(),
                  usernick : $('#usernick').val()
                }

                $.ajax({
                         type:'post',
                         contentType:'application/json',
                         data:JSON.stringify(joindata),
                         url:'/api/user/join',
                         success: function(data) {
                            // 회원가입 결과 메시지 설정
                            if (data.hasOwnProperty('result')) {
                                alert(data.result);
                                location.href = '/login';
                            }

                         },
                         error: function(e) {
                            // 이메일 에러 메시지 설정
                            var jsonResponse = JSON.parse(e.responseText);
                            if (jsonResponse.hasOwnProperty('email')) {
                                document.getElementById("emailError").innerText = jsonResponse.email;
                            } else {
                                document.getElementById("emailError").innerText = "";
                            }

                            // 패스워드 에러 메시지 설정
                            if (jsonResponse.hasOwnProperty('userpw')) {
                                document.getElementById("userpwError").innerText = jsonResponse.userpw;
                            } else {
                                document.getElementById("userpwError").innerText = "";
                            }

                            // 닉네임 에러 메시지 설정
                            if (jsonResponse.hasOwnProperty('usernick')) {
                                document.getElementById("usernickError").innerText = jsonResponse.usernick;
                            } else {
                                document.getElementById("usernickError").innerText = "";
                            }

                            // 회원가입 결과 메시지 설정
                            if (jsonResponse.hasOwnProperty('result')) {
                                alert(jsonResponse.result);
                            }
                         }
                });
   }
    </script>
</th:block>
</html>
