<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" layout:decorate="layout/default_layout">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<th:block layout:fragment="content">
     <div style="
                    margin:0 auto;
                    width:800px;
                    padding: 20px;
                    border:1px solid #e3e3e3;
                    border-radius:10px;
                    margin-bottom:30px;">
         <div style="border:1px solid black; border-radius:10px;">
             <div>
                 <div style="padding:20px">
                     <span style="font-size:30px;" th:text="${#authentication.principal.usernick}"></span>
                 </div>
             </div>
             <div style="border-top:1px solid black; border-top-width:1px;">
                 <ul class="nav nav-tabs" style="padding:20px">
                     <li class="nav-item">
                         <a class="nav-link" aria-current="page" th:href="@{/mypage(type=article_list)}">작성한 글</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" th:href="@{/mypage(type=comment_list)}" >작성한 댓글</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/mypage?type=bookmark_list">즐겨찾기</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link active" href="/mypage?type=edit_profile">내 정보 수정</a>
                     </li>
                 </ul>
             </div>
         </div>
         <div class="input-group mb-3" style="width:500px; margin: 0 auto;">
             <span class="input-group-text" id="basic-addon1" style="margin:20px 0;">닉네임</span>
             <input type="text" class="form-control" id="Usernick" placeholder="닉네임을 입력해주세요" aria-label="Usernick" aria-describedby="basic-addon1">
             <button class="btn btn-outline-secondary" type="button" id="nickcheck_button" style="margin:20px 0;">중복 체크</button>
         </div>
         <div class="input-group mb-3" style="width:500px; margin: 0 auto; bottom:20px">
             <span class="input-group-text" id="basic-addon2" style="margin:20px 0;">PW</span>
             <input type="password" class="form-control" id="password"  placeholder="비밀번호를 입력해주세요" aria-label="password" aria-describedby="basic-addon1">

         </div>
         <div class="input-group mb-3" style="width:500px; margin: 0 auto; bottom:40px">
             <span class="input-group-text" id="basic-addon3" style="margin:20px 0;">PW 재확인</span>
             <input type="password" class="form-control" id="confirmPassword" placeholder="재확인 비밀번호를 입력해주세요" aria-label="confirmPassword" aria-describedby="basic-addon1">

         </div>
         <div class="d-grid gap-2" style="width:500px; margin: 0 auto; position:relative; bottom:40px">
             <button class="btn btn-primary" id="prifileupdate_button" type="button">수정하기</button>
         </div>
     </div>
    <script inline="javascript">
        var nickcheckstate = "false";
        const token = $("meta[name='_csrf']").attr("content")
        const header = $("meta[name='_csrf_header']").attr("content");
        $(document).ready(function() {

            $('#nickcheck_button').click(function() {
            var checkdata = {
                      Usernick : $('#Usernick').val()
                }
                $.ajax({
                         type:'post',
                         contentType:'application/json',
                         data:JSON.stringify(checkdata),
                         url:'/api/usernick/check',
                         success:function(data){
                             alert(data);
                             nickcheckstate = "true";
                         },
                         beforeSend : function(xhr) {
                                      xhr.setRequestHeader(header, token);
                         },
                         error: function(e) {
                             alert(e.responseText);
                             nickcheckstate = "false";
                         }
                });

            });
            $('#prifileupdate_button').click(function(event) {
                 if(nickcheckstate == "false") {
                  alert('닉네임 체크를 해주세요.');
                  return;
                 }
                event.preventDefault();
                var password = $('#password').val();
                var confirmPassword = $('#confirmPassword').val();
                if (password !== confirmPassword) {
                    alert('비밀번호가 일치하지 않습니다.');
                    return;
                }
                var updatedata = {
                      usernick : $('#Usernick').val(),
                      userpw : password,
                      confirmuserpw : confirmPassword
                }
                $.ajax({
                         type:'post',
                         contentType:'application/json',
                         data:JSON.stringify(updatedata),
                         url:'/api/user/update',
                         success:function(data){
                            alert(data.result);
                           window.location.href = '/';
                         },
                         beforeSend : function(xhr) {
                                      xhr.setRequestHeader(header, token);
                         },
                         error: function(e) {
                             alert(e.responseJSON.result);
                         }
                });
            });
        });
    </script>
</th:block>