<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <div style="
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin-bottom: 30px;">
        <h2>쪽지</h2>

    </div>
    <div style="
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin-bottom: 30px;">
        <table class="table table-border table-Light">
            <thead class="table-success">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr class="border-bottom">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr class="border-bottom">
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr class="border-bottom">
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>

    </div>

</th:block>
<script>



</script>
</html>