<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <div style="
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin-bottom: 30px;">
        <h2>쪽지</h2>
    </div>
    <div style="
    margin: 0 auto;
    width: 800px;
    padding-left:720px;
    margin-bottom: 30px;">
        <a href="javascript:;">
        <span id="note_block_button">쪽지 차단</span>
        </a>
        <div id="Note_blockpage" class="list-group" style="position:absolute; display:none; padding-left:20px">
            <ul>
                <a href="javascript:;" id="Temporary_Block" class="list-group-item list-group-item-action">
                    임시 거부
                </a>
                <a th:if="${member.noteblockd == false}" href="javascript:;" id="Permanent_Block" class="list-group-item list-group-item-action">
                    영구 거부
                </a>
                <a th:if="${member.noteblockd == true}" href="javascript:;" id="Remove_Permanent_Block" class="list-group-item list-group-item-action">
                    영구 거부 해제
                </a>
            </ul>
        </div>
    </div>

    <div style="
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin-bottom: 30px;">
        <table class="table table-border table-Light">
            <thead class="table-success">
            <tr>
                <th scope="col">번호</th>
                <th scope="col">보낸 사람</th>
                <th scope="col">쪽지 내용</th>
                <th scope="col">보낸 시각</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr class="border-bottom" th:each="item : ${notelists}">

                    <th th:text="${item.id}" scope="row"></th>
                    <td th:text="${item.writer.usernick}" ></td>
                    <td style="
                    max-width: 50px;
                    white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;">
                     <a href="javascript:;" th:onclick="'receivemessage(' + ${item.id} + ')'" th:text="${item.message}" >  </a>
                    </td>
                    <td th:text="${item.createdDate}"></td>

            </tr>
            </tbody>
        </table>
        <div th:if="${endPage != 0}" class="paging_list">
            <!-- 이전 링크 있을시 활성화 없을시 비 활성화 -->
            <a class="page_previous" th:classappend=" ${!pageable.previous} ? 'disabled' " th:href="${!pageable.first} ? @{/note(page=${pageable.number})}"> 이전 </a>
            <!-- 시작페이지 -> 끝 페이지 까지 페이지 출력 -->
            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
		    <!-- 현재페이지는 링크 없이 숫자만 -->
            <span th:if="${page == pageable.number + 1}" th:text="${page}"></span>
                <!-- 현재페이지 링크 X, 다른 페이지번호에는 링크를 보여준다 -->
            <span th:unless="${page == pageable.number + 1}">
              <a th:href="@{/note,page=${page})}" th:text="${page}"></a>
            </span>
        </span>
            <!-- 다음 링크 있을시 활성화 없을시 비 활성화 -->
            <a class="page_next" th:classappend=" ${!pageable.next} ? 'disabled' "  th:href="${pageable.last} ? '#' : @{/note(page=${pageable.number + 2})}"> 다음 </a>
        </div>
    </div>
    <script th:inline="javascript">

        $(document).ready(function() {

            $("#note_block_button").click(function() {
                     $("#Note_blockpage").show();
            });


            $("#Temporary_Block").click(function() {
                                           $.ajax({
                                        　　type:'post'
                                        　　, contentType:'application/json'
                                        　　, data: JSON.stringify({
                                                block_type : 'temporary'
                                            })
                                        　　, url: '/api/NoteBlock/update'
                                        　　, success: function(data) {
                                              alert(data);
                                        　　}
                                           , error:function(e) {
                                            alert(e.responseText);
                                        　　}
                                           });


              });
             if($("#Permanent_Block") != null) {
                 $("#Permanent_Block").click(function() {
                                         $.ajax({
                                        　　type:'post'
                                        　　, contentType:'application/json'
                                        　　, data: JSON.stringify({
                                                block_type : 'permanent'
                                            })
                                        　　, url: '/api/NoteBlock/update'
                                        　　, success: function(data) {
                                            alert(data);
                                        　　}
                                           , error:function(e) {
                                            alert(e.responseText);
                                        　　}
                                           });
                 });
              }
             if($("#Remove_Permanent_Block") != null) {
                 $("#Remove_Permanent_Block").click(function() {
                                         $.ajax({
                                        　　type:'post'
                                        　　, contentType:'application/json'
                                        　　, data: JSON.stringify({
                                                block_type : 'remove_permanent'
                                            })
                                        　　, url: '/api/NoteBlock/update'
                                        　　, success: function(data) {
                                            alert(data);
                                        　　}
                                           , error:function(e) {
                                            alert(e.responseText);
                                        　　}
                                           });

                 });
              }

              $(document).click(function(event) {
               if(!$("#Note_blockpage").has(event.target).length && !$("#note_block_button").is(event.target) ) {
                  $("#Note_blockpage").hide();
               }
           });
        });


        function receivemessage(id) {
             window.open('/receivemessage/' + id, '쪽지', 'width=400,height=420');
        }


    </script>
</th:block>

</html>